path/to/df_f5.csv filter=lfs diff=lfs merge=lfs -text
C:UsersGermanDocumentsHenryLABsfastapidf_juegos_final.csv filter=lfs diff=lfs merge=lfs -text
df_juegos_final.csv filter=lfs diff=lfs merge=lfs -text
